@import "tailwindcss";

body{
  background: #000;
}

.wrapper {
  @apply w-full max-w-[1300px] mx-auto px-3 xl:px-0;
}

::-webkit-scrollbar{
  display: none
}

.filter1 {
  animation: filterAnimation 5s infinite alternate ease-in-out;
}

@keyframes filterAnimation {
  0% {
    filter: blur(0px) brightness(100%) contrast(100%);
    background-color: #8714da;
  }
  100% {
    filter: blur(100px) brightness(120%) contrast(90%);
    background-color: #6e11b0;
  }
}
.filter2{
    background-color: #ad2257;
    filter: blur(100px) brightness(120%) contrast(90%);
}
.filter3{
    background-color: #4910e7;
    filter: blur(100px) brightness(120%) contrast(90%);
}
.gradient-text {
  background: linear-gradient(45deg, #9810fa, #da70d6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
